services:
  db:
    image: postgres
    restart: always
    volumes:
      - "./sql:/docker-entrypoint-initdb.d"
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - TZ=Europe/Kyiv
    ports:
      - "5432:5432"
