/* Icon CSS using SVG background images */

.icon-instagram,
.icon-youtube {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.3rem;  /* spacing between icon and text */
}

.icon-instagram {
    background-image: url('/assets/icons/instagram.svg');
}

.icon-youtube{
    background-image: url('/assets/icons/youtube.svg');
}

