/* Icon CSS using SVG background images */

.icon-dashboard,
.icon-catalog,
.icon-books,
.icon-users,
.icon-logout,
.icon-user,
.icon-book,
.icon-admin,
.icon-refresh {
    display: inline-block;
    width: 1.25rem;  /* 20px */
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;  /* spacing between icon and text */
}

.icon-dashboard {
    background-image: url('/assets/icons/dashboard.svg');
}

.icon-catalog {
    background-image: url('/assets/icons/catalog.svg');
}

.icon-books {
    background-image: url('/assets/icons/books.svg');
}

.icon-users {
    background-image: url('/assets/icons/users.svg');
}

.icon-logout {
    background-image: url('/assets/icons/logout.svg');
}

.icon-user {
    background-image: url('/assets/icons/user.svg');
}

.icon-book {
    background-image: url('/assets/icons/book.svg');
}

.icon-admin {
    background-image: url('/assets/icons/admin.svg');
}

.icon-refresh {
    background-image: url('/assets/icons/refresh.svg');
}

.cursor-pointer {
    cursor: pointer;
}
