@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: var(--body-bg-color);
    font-family: 'Montserrat';
}


:root {
    --body-bg-color: #FFFFFF;
    --background-color: #79A1D5;
    --black: #000000;
    --white: #FFFFFF;
    --btn-focus: #07263a;
    --btn-hover: #F0F78C;
    /* --text-color: #3F737F; */
}

.form {
    width: 100%;
    text-align: center;
}


.form-section {
    padding: 10px 50px 10px 50px;
}

.form-section .top-section {
    text-align: center;
}


.form-section .top-section h1 {
    margin-top: 20%;

    font-size: 35px;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;

    color: var(--black);
}

.form-section .top-section label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-section .form-input {
    text-align: center;
}

.form-section .form-input input {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 500px;
    height: 55px;

    background: #FFFFFF;
    border: 1px solid #3D3E3E;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

}

.form-section .form-input label {
    color: var(--black);
    font-size: 18px;
    font-weight: 300;
    margin-top: 40px;
    text-align: center;


}

.form-section .form-input span {
    color: var(--background-color);

}

.form-section .second-input input {
    opacity: 0.6;
}

.form-section .second-input label {
    color: var(--black);
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    align-self: center;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-right: 50px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: #727272B2;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}

.form-section input:focus {
    box-shadow: none;
}

.form-section .forgot a {
    float: right;
    margin-top: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.form-section button {
    margin-top: 30px;
    padding: 10px 80px 10px 80px;
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--background-color);
    border: none;
    border-radius: 15px;
}

.form-section button:hover {
    background-color: var(--btn-hover);
}

.form-section button:focus {
    background-color: var(--btn-focus);
}

@media only screen and (max-width: 600px) {
    .logo h3 {
        font-size: 18px;
    }

    .form-section {
        padding: 10px 20px 10px 20px;
    }

    .form-section .top-section h1 {



        margin-top: 39px;
        font-size: 20px;
    }

    .form-section .form-input label {
        font-size: 16px;
        margin-top: 20px;

        width: 226px;
        height: 17px;
        left: 115px;
        top: 203px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;


        color: #000000;


    }

    .form-section .second-input label {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media only screen and (min-width:280px) and (max-width:305px) {
    .form-section {
        padding: 5px 15px 5px 15px;
    }

    .form-section .top-section h1 {
        margin-top: 25px;
        font-size: 18px;
    }

    .form-section .form-input label {
        font-size: 14px;
        margin-top: 20px;
    }

    .form-section .second-input label {
        font-size: 14px;
        margin-top: 10px;
    }
}

.form-section .form-input .form-control:focus {
    border-color: var(--background-color);
}

.form-section .second-input .form-control:focus {
    border-color: var(--background-color);
}

@media only screen and (max-width: 768px) {
    .logo img {
        display: none;
    }

    .logo {
        height: 100px;
    }
}