@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --body-bg-color: #FFFFFF;
    --background-color: #79A1D5;
    --black: #000000;
    --white: #FFFFFF;
    --btn-focus: #07263a;
    --btn-hover: #F0F78C;
}

body {
    background-color: var(--body-bg-color);
    font-family: 'Montserrat';
}

.header-logo {
    background-size: cover;
    display: flex;
    height: 7rem;
    width: auto;
}

.footer-logo {
    background-size: cover;
    display: flex;
    height: 5rem;
    width: auto;
}


