@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --body-bg-color: #FFFFFF;
    --background-color: #79A1D5;
    --black: #000000;
    --white: #FFFFFF;
    --btn-focus: #07263a;
    --btn-hover: #F0F78C;
}

body {
    background-color: var(--body-bg-color);
    font-family: 'Montserrat';
}

.header-logo {
    background-size: cover;
    display: flex;
    height: 7rem;
    width: auto;
}

.footer-logo {
    background-size: cover;
    display: flex;
    height: 5rem;
    width: auto;
}

@media (max-width: 768px) {
    .header-logo {
        height: 5rem;
    }

    .footer-logo {
        height: 3rem;
    }
}

@media (max-width: 480px) {
    .header-logo {
        height: 4rem;
    }

    .footer-logo {
        height: 2rem;
    }
}


